                        <div class="card" id="chonkystation3">
                            <a href="#chonkystation3" class="card-link" data-modal-trigger="chonkystation3">
                                <div class="card-image-container">
                                    <img src="/xbox-dev-mode/images/experimental-apps/chonkystation3.webp" alt="Chonkystation 3 Logo" class="card-image">
                                </div>
                                <div class="card-content">
                                    <h3 class="card-title" id="chonkystation3-title">Chonkystation 3</h3>
                                    <p class="card-description">An experimental PlayStation 3 emulator.</p>
                                </div>
                            </a>
                            <div class="card-modal-content" data-modal-id="chonkystation3" style="display: none;">
                                <ul class="info-list">
                                    <li class="app-version" data-app-id="chonkystation3"><strong>Version:</strong> <span class="val">Checking...</span></li>
                                    <li class="app-release-date" data-app-id="chonkystation3"><strong>Release date:</strong> <span class="val">Checking...</span></li>
                                    <li><strong>Developer:</strong> <a href="https://github.com/liuk7071" class="contributor-name-link">Liuk7071</a></li>
                                    <li><strong>UWP Port by:</strong>
                                        <div class="contributor-container">
                                            <a href="#" class="contributor-name-link popover-trigger">Moonpower</a>
                                            <div class="popover-menu">
                                                <a href="https://github.com/momo-AUX1" class="popover-link"><img src="/images/github-logo.svg" alt="GitHub Logo" class="popover-icon">View on GitHub</a>
                                                <a href="https://ko-fi.com/moonpower007" class="popover-link"><img src="/images/kofi-logo.svg" alt="Ko-fi Logo" class="popover-icon">Support on Ko-fi</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li><strong>Compatibility:</strong> Xbox Series S|X</li>
                                    <li><strong>Requires:</strong>
                                        <ul>
                                            <li>Decrypted .elf roms.</li>
                                            <li>Install all 3 dependencies.</li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-primary download-link" data-app-id="chonkystation3" data-asset-id="chonkystation3">Download</a>
                                    <a href="https://wiki.sternserv.xyz/docs/emulation/chonkystation3-guide" class="btn btn-info">Setup Guide</a>
                                    <a href="https://youtu.be/_Q6EPH-SH48" class="btn btn-youtube">Watch Tutorial</a>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="hedgephysics">
                            <a href="#hedgephysics" class="card-link" data-modal-trigger="hedgephysics">
                                <div class="card-image-container">
                                    <img src="/xbox-dev-mode/images/experimental-apps/hedgephysics.webp" alt="Hedge Physics Logo" class="card-image">
                                </div>
                                <div class="card-content">
                                    <h3 class="card-title" id="hedgephysics-title">Hedge Physics</h3>
                                    <p class="card-description">A fan-made Sonic physics engine/game demo.</p>
                                </div>
                            </a>
                            <div class="card-modal-content" data-modal-id="hedgephysics" style="display: none;">
                                <ul class="info-list">
                                    <li class="app-version" data-app-id="hedgephysics"><strong>Version:</strong> <span class="val">Checking...</span></li>
                                    <li class="app-release-date" data-app-id="hedgephysics"><strong>Release date:</strong> <span class="val">Checking...</span></li>
                                    <li><strong>Developer:</strong> <a href="https://forums.sonicretro.org/index.php?threads/1-0-final-hedge-physics-3d-sonic-engine-on-unity.36171/" class="contributor-name-link">LakeFeperd</a></li>
                                    <li><strong>Compatibility:</strong> Xbox One & Series S|X</li>
                                </ul>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-primary download-link" data-app-id="hedgephysics" data-asset-id="hedgephysics">Download</a>
                                    <a href="{% link guides/experimentalapps/hedgephysics.md %}" class="btn btn-info">Setup Guide</a>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="panda3ds">
                            <a href="#panda3ds" class="card-link" data-modal-trigger="panda3ds">
                                <div class="card-image-container">
                                    <img src="/xbox-dev-mode/images/experimental-apps/panda3ds.webp" alt="Panda3DS Logo" class="card-image">
                                </div>
                                <div class="card-content">
                                    <h3 class="card-title" id="panda3ds-title">Panda3DS</h3>
                                    <p class="card-description">An experimental Nintendo 3DS emulator.</p>
                                </div>
                            </a>
                            <div class="card-modal-content" data-modal-id="panda3ds" style="display: none;">
                                <ul class="info-list">
                                    <li class="app-version" data-app-id="panda3ds"><strong>Version:</strong> <span class="val">Checking...</span></li>
                                    <li class="app-release-date" data-app-id="panda3ds"><strong>Release date:</strong> <span class="val">Checking...</span></li>
                                    <li><strong>Developer:</strong> <a href="https://github.com/wheremyfoodat" class="contributor-name-link">Wheremyfoodat</a></li>
                                    <li><strong>UWP Port by:</strong>
                                        <div class="contributor-container">
                                            <a href="#" class="contributor-name-link popover-trigger">Moonpower</a>
                                            <div class="popover-menu">
                                                <a href="https://github.com/momo-AUX1" class="popover-link"><img src="/images/github-logo.svg" alt="GitHub Logo" class="popover-icon">View on GitHub</a>
                                                <a href="https://ko-fi.com/moonpower007" class="popover-link"><img src="/images/kofi-logo.svg" alt="Ko-fi Logo" class="popover-icon">Support on Ko-fi</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li><strong>Compatibility:</strong> Xbox Series S|X</li>
                                    <li><strong>Requires:</strong> Install all 3 dependencies.</li>
                                </ul>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-primary download-link" data-app-id="panda3ds" data-asset-id="panda3ds">Download</a>
                                    <a href="https://wiki.sternserv.xyz/docs/emulation/panda3ds-guide" class="btn btn-info">Setup Guide</a>
                                    <a href="https://youtu.be/8n2m8TL3thY" class="btn btn-youtube">Watch Tutorial</a>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="sm64hd">
                            <a href="#sm64hd" class="card-link" data-modal-trigger="sm64hd">
                                <div class="card-image-container">
                                    <img src="/xbox-dev-mode/images/experimental-apps/sm64hd.webp" alt="SM64HD Fan Remake Logo" class="card-image">
                                </div>
                                <div class="card-content">
                                    <h3 class="card-title" id="sm64hd-title">SM64HD Fan Remake</h3>
                                    <p class="card-description">A fan-made SM64HD (Super Mario 64) engine/game demo.</p>
                                </div>
                            </a>
                            <div class="card-modal-content" data-modal-id="sm64hd" style="display: none;">
                                <ul class="info-list">
                                    <li class="app-version" data-app-id="sm64hd"><strong>Version:</strong> <span class="val">Checking...</span></li>
                                    <li class="app-release-date" data-app-id="sm64hd"><strong>Release date:</strong> <span class="val">Checking...</span></li>
                                    <li><strong>Developer:</strong> <a href="https://github.com/JerrySM64" class="contributor-name-link">Jerry Starke</a></li>
                                    <li><strong>Compatibility:</strong> Xbox One & Series S|X</li>
                                </ul>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-primary download-link" data-app-id="sm64hd" data-asset-id="sm64hd">Download</a>
                                    <a href="{% link guides/experimentalapps/sm64hd.md %}" class="btn btn-info">Setup Guide</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card" id="boxedwine">
                            <a href="#boxedwine" class="card-link" data-modal-trigger="boxedwine">
                                <div class="card-image-container">
                                    <img src="/xbox-dev-mode/images/experimental-apps/boxedwine.webp" alt="BoxedWine Logo" class="card-image">
                                </div>
                                <div class="card-content">
                                    <h3 class="card-title" id="boxedwine-title">BoxedWine</h3>
                                    <p class="card-description">Run 16-bit or 32-bit Windows programs.</p>
                                </div>
                            </a>
                            <div class="card-modal-content" data-modal-id="boxedwine" style="display: none;">
                                <ul class="info-list">
                                    <li class="app-version" data-app-id="boxedwine"><strong>Version:</strong> <span class="val">Checking...</span></li>
                                    <li class="app-release-date" data-app-id="boxedwine"><strong>Release date:</strong> <span class="val">Checking...</span></li>
                                    <li><strong>Developer:</strong> <a href="https://github.com/danoon2" class="contributor-name-link">Danoon2</a></li>
                                    <li><strong>UWP Port by:</strong> <div class="contributor-container">
                                        <a href="#" class="contributor-name-link popover-trigger">Moonpower</a>
                                        <div class="popover-menu">
                                        <a href="https://github.com/momo-AUX1" class="popover-link"><img src="/images/github-logo.svg" alt="GitHub Logo" class="popover-icon">View on GitHub</a>
                                        <a href="https://ko-fi.com/moonpower007" class="popover-link"><img src="/images/kofi-logo.svg" alt="Ko-fi Logo" class="popover-icon">Support on Ko-fi</a>
                                        </div>
                                    </div></li>
                                    <li><strong>Compatibility:</strong> Xbox Series S|X</li>
                                    <li><strong>Requires:</strong> External Drive to store your zipped programs.</li>
                                </ul>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-primary download-link" data-app-id="boxedwine" data-asset-id="boxedwine">Download</a>
                                    <a href="https://wiki.sternserv.xyz/docs/apps/boxedwine-guide" class="btn btn-info">Setup Guide</a>
                                    <a href="https://youtu.be/R9nr7kDSJpo" class="btn btn-youtube">Watch Tutorial</a>
                                </div>
                            </div>
                        </div>