                        <div class="card" id="launchpass">
                            <a href="#launchpass" class="card-link" data-modal-trigger="launchpass">
                                <div class="card-image-container">
                                    <img src="/xbox-dev-mode/images/frontends/launchpass.webp" alt="LaunchPass Logo" class="card-image">
                                </div>
                                <div class="card-content">
                                    <h3 class="card-title" id="launchpass-title">LaunchPass</h3>
                                    <p class="card-description">A frontend capable of launching ROMs in most emulators on Xbox.</p>
                                </div>
                            </a>
                            <div class="card-modal-content" data-modal-id="launchpass" style="display: none;">
                                <ul class="info-list">
                                    <li class="app-version" data-app-id="launchpass"><strong>Version:</strong> <span class="val">Checking...</span></li>
                                    <li class="app-release-date" data-app-id="launchpass"><strong>Release date:</strong> <span class="val">Checking...</span></li>
                                    <li><strong>Developers:</strong> <a href="https://github.com/Misunderstood-Wookiee" class="contributor-name-link">Misunderstood-Wookiee</a> &amp; <div class="contributor-container">
                                        <a href="#" class="contributor-name-link popover-trigger">DanP</a>
                                        <div class="popover-menu">
                                        <a href="https://github.com/danprice142" class="popover-link"><img src="/images/github-logo.svg" alt="GitHub Logo" class="popover-icon">View on GitHub</a>
                                        <a href="https://ko-fi.com/danp142" class="popover-link"><img src="/images/kofi-logo.svg" alt="Ko-fi Logo" class="popover-icon">Support on Ko-fi</a>
                                        </div>
                                    </div></li>
                                    <li><strong>Compatibility:</strong> Xbox One & Series S|X</li>
                                    <li><strong>Requires:</strong>
                                        <ul>
                                            <li>Install all 4 dependencies.</li>
                                        <li>Supported emulators.</li>
                                        <li>External storage for content library.</li>
                                        <li>PC for setup with LaunchBox.</li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="card-actions">
                                    <details class="action-dropdown">
                                        <summary class="btn btn-primary">Download ▼</summary>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" class="download-link" data-app-id="launchpass" data-asset-id="launchpass1">LaunchPass</a></li>
                                            <li><a href="#" class="download-link" data-app-id="launchpass" data-asset-id="launchpass2">LaunchPass - Dependency files</a></li>
                                        </ul>
                                    </details>
                                    <a href="https://wiki.sternserv.xyz/docs/apps/launchpass-guide" class="btn btn-info">Setup Guide</a>
                                    <a href="https://youtu.be/1Qo2tqwA5qI" class="btn btn-youtube">Watch Tutorial</a>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="retropass">
                            <a href="#retropass" class="card-link" data-modal-trigger="retropass">
                                <div class="card-image-container">
                                    <img src="/xbox-dev-mode/images/frontends/retropass.webp" alt="Retro Pass Logo" class="card-image">
                                </div>
                                <div class="card-content">
                                    <h3 class="card-title" id="retropass-title">Retro Pass</h3>
                                    <p class="card-description">A simple frontend for emulators running on Xbox.</p>
                                </div>
                            </a>
                            <div class="card-modal-content" data-modal-id="retropass" style="display: none;">
                                <ul class="info-list">
                                    <li class="app-version" data-app-id="retropass"><strong>Version:</strong> <span class="val">Checking...</span></li>
                                    <li class="app-release-date" data-app-id="retropass"><strong>Release date:</strong> <span class="val">Checking...</span></li>
                                    <li><strong>Developer:</strong> <a href="https://github.com/retropassdev" class="contributor-name-link">Retropassdev</a></li>
                                    <li><strong>Compatibility:</strong> Xbox One & Series S|X</li>
                                    <li><strong>Requires:</strong>
                                        <ul>
                                            <li>Install all 5 (x64) dependencies.</li>
                                            <li>Supported emulators.</li>
                                            <li>External storage for content library.</li>
                                            <li>PC for setup with <a href="https://github.com/retropassdev/RetroPass/blob/main/Docs/SetupLaunchBox.md">LaunchBox</a> or <a href="https://github.com/retropassdev/RetroPass/blob/main/Docs/SetupEmulationStation.md">EmulationStation</a>.</li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-primary download-link" data-app-id="retropass" data-asset-id="retropass">Download</a>
                                    <a href="https://youtu.be/eaStAmBhnaE" class="btn btn-youtube">Watch Tutorial</a>
                                </div>
                            </div>
                        </div>