                        <div class="card" id="usb-permissions-tool">
                            <a href="#usb-permissions-tool" class="card-link" data-modal-trigger="usb-permissions-tool">
                                <div class="card-image-container">
                                    <img src="/xbox-dev-mode/images/utilities/usb-perms-tool.webp" alt="USB Permissions Tool Logo" class="card-image">
                                </div>
                                <div class="card-content">
                                    <h3 class="card-title" id="usb-permissions-tool-title">USB Permissions Tool</h3>
                                    <p class="card-description">Add necessary permissions to an NTFS formatted USB drive for UWP apps.</p>
                                </div>
                            </a>
                            <div class="card-modal-content" data-modal-id="usb-permissions-tool" style="display: none;">
                                <ul class="info-list">
                                    <li class="app-version" data-app-id="usbPermissionsTool"><strong>Version:</strong> <span class="val">Checking...</span></li>
                                    <li class="app-release-date" data-app-id="usbPermissionsTool"><strong>Release date:</strong> <span class="val">Checking...</span></li>
                                    <li><strong>Developer:</strong> <div class="contributor-container">
                                        <a href="#" class="contributor-name-link popover-trigger">YTReviveMe</a>
                                        <div class="popover-menu">
                                        <a href="https://github.com/YTReviveMe" class="popover-link"><img src="/images/github-logo.svg" alt="GitHub Logo" class="popover-icon">View on GitHub</a>
                                        <a href="https://ko-fi.com/reviveme" class="popover-link"><img src="/images/kofi-logo.svg" alt="Ko-fi Logo" class="popover-icon">Support on Ko-fi</a>
                                        </div>
                                    </div></li>
                                    <li><strong>Compatibility:</strong> Windows OS</li>
                                    <li><strong>Requires:</strong> External USB drive formatted as NTFS</li>
                                </ul>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-primary download-link" data-app-id="usbPermissionsTool" data-asset-id="usbpermtool">Download</a>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="durangoftp">
                            <a href="#durangoftp" class="card-link" data-modal-trigger="durangoftp">
                                <div class="card-image-container">
                                    <img src="/xbox-dev-mode/images/utilities/ftp.webp" alt="Durango FTP Logo" class="card-image">
                                </div>
                                <div class="card-content">
                                    <h3 class="card-title" id="durangoftp-title">Durango FTP</h3>
                                    <p class="card-description">FTP Server for Xbox One/Series in Dev Mode.</p>
                                </div>
                            </a>
                            <div class="card-modal-content" data-modal-id="durangoftp" style="display: none;">
                                <ul class="info-list">
                                    <li class="app-version" data-app-id="durangoftp"><strong>Version:</strong> <span class="val">Checking...</span></li>
                                    <li class="app-release-date" data-app-id="durangoftp"><strong>Release date:</strong> <span class="val">Checking...</span></li>
                                    <li><strong>Developer:</strong> <a href="https://github.com/Dantes-Dungeon" class="contributor-name-link">Dantes-Dungeon</a></li>
                                    <li><strong>Compatibility:</strong> Xbox One & Series S|X</li>
                                    <li><strong>Note:</strong> FTP access is currently unreliable and may not work for all users.</li>
                                </ul>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-primary download-link" data-app-id="durangoftp" data-asset-id="durangoftp">Download</a>
                                    <a href="https://youtu.be/bLaWsX5vwts" class="btn btn-youtube">Watch Tutorial</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card" id="oberon">
                            <a href="#oberon" class="card-link" data-modal-trigger="oberon">
                                <div class="card-image-container">
                                    <img src="/xbox-dev-mode/images/utilities/oberon.webp" alt="Oberon Remote Logo" class="card-image">
                                </div>
                                <div class="card-content">
                                    <h3 class="card-title" id="oberon-title">Oberon Remote</h3>
                                    <p class="card-description">Remote input for Xbox consoles, use any controller with your Xbox.</p>
                                </div>
                            </a>
                            <div class="card-modal-content" data-modal-id="oberon" style="display: none;">
                                <ul class="info-list">
                                    <li class="app-version" data-app-id="oberon"><strong>Version:</strong> <span class="val">Checking...</span></li>
                                    <li class="app-release-date" data-app-id="oberon"><strong>Release date:</strong> <span class="val">Checking...</span></li>
                                    <li><strong>Developer:</strong> <a href="https://github.com/SamsidParty" class="contributor-name-link">SamsidParty</a></li>
                                    <li><strong>Compatibility:</strong> Xbox One & Series S|X</li>
                                    <li><strong>Requires:</strong> A separate device running Android, Windows, macOS or Linux.</li>
                                </ul>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-primary download-link" data-app-id="oberon" data-asset-id="oberon">Download</a>
                                    <a href="https://www.samsidparty.com/docs/software/oberon-remote/setup-guide" class="btn btn-info">Setup Guide</a>
                                </div>
                            </div>
                        </div>

                        <div class="card" id="safeexit">
                            <a href="#safeexit" class="card-link" data-modal-trigger="safeexit">
                                <div class="card-image-container">
                                    <img src="/xbox-dev-mode/images/utilities/safeexit.webp" alt="Safe Exit Logo" class="card-image">
                                </div>
                                <div class="card-content">
                                    <h3 class="card-title" id="safeexit-title">Safe Exit</h3>
                                    <p class="card-description">Exit from dev mode safely.</p>
                                </div>
                            </a>
                            <div class="card-modal-content" data-modal-id="safeexit" style="display: none;">
                                <ul class="info-list">
                                    <li class="app-version" data-app-id="safeexit"><strong>Version:</strong> <span class="val">Checking...</span></li>
                                    <li class="app-release-date" data-app-id="safeexit"><strong>Release date:</strong> <span class="val">Checking...</span></li>
                                    <li><strong>Developer:</strong> <a href="https://github.com/Dantes-Dungeon" class="contributor-name-link">Dantes-Dungeon</a></li>
                                    <li><strong>Compatibility:</strong> Xbox One & Series S|X</li>
                                    <li><strong>Note:</strong> This app is likely redundant now, as dev mode defaults to keeping sideloaded apps on exit.</li>
                                </ul>
                                <div class="card-actions">
                                    <a href="#" class="btn btn-primary download-link" data-app-id="safeexit" data-asset-id="safeexit">Download</a>
                                    <a href="https://youtu.be/Qlr2R8ZkMEw" class="btn btn-youtube">Watch Tutorial</a>
                                </div>
                            </div>
                        </div>