:root {
    --font-primary: 'Oxanium', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-primary);
    font-weight: 700;
    color: var(--color-heading);
    margin-bottom: var(--spacing-md);
    line-height: 1.2;
}

h1 {
  font-size: clamp(2.25rem, calc(1.5rem + 3vw), 3.5rem);
}

h2 {
  font-size: clamp(1.75rem, calc(1.25rem + 2vw), 2.5rem);
}

h3 {
  font-size: clamp(1.5rem, calc(1.2rem + 1vw), 1.8rem);
}

p {
    font-family: var(--font-primary);
    font-size: 1.1em;
    margin-bottom: var(--spacing-md);
    color: var(--color-text-light);
}

strong {
    font-weight: 700;
}

p:last-child {
    margin-bottom: 0;
}